<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mindy Eason: My Portfolio</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
</head>
<body ng-app="ngAnimate">

<header id="nav">
    <h1>
        Mindy Eason / Portfolio
    </h1>

    <button class="nav_btn" ng-click="toShow='about_me'">About</button>
    <button class="nav_btn" ng-click="toShow='apps'">Applications</button>
    <button class="nav_btn" ng-click="toShow='contact'">Contact</button>
</header>

<main>
    <!-- about div ------------------------------------------------------------------------------------------>
    <div ng-show="toShow=='about_me'" class="info_div" id="about">
        <div id="blurb">
            <h4>
                After spending a considerable chunk of my life working in call centers and customer service, I leapt at
                the chance
                to go back to school, and make my hobby of making simple web pages into an actual career I love. The
                road to
                becoming a junior developer has not always easy, in fact, it's been quite a challenge. But working in a
                field I'm passionate about has made all the difference in the world.
            </h4>
            <p>Skills:</p>
            <table>
                <tr>
                    <td>HTML</td>
                    <td>CSS</td>
                    <td>JavaScript</td>
                </tr>
                <tr>
                    <td>Firebase</td>
                    <td>jQuery</td>
                    <td>GitHub</td>
                </tr>
                <tr>
                    <td>APIs</td>
                    <td>Visio</td>
                    <td>and more....</td>
                </tr>
            </table>
            <br>
            <button class="nav_btn" ng-click="toShow='exit_screen'">Close</button>
        </div>
    </div>
    <br>
    <!-- Applications Div --------------------------------------------------------------------------------->

    <div ng-show="toShow=='apps'" class="info_div">
        <!-- click on link, should show the app below link -->
        <a href="">Deal Finder</a>
        <a href="">Space Cat Tic Tac Toe</a>
        <a href="">Calculator</a>
        <br>
        <!--<span id=""></span>-->
        <!--<span id=""></span>-->
        <button class="nav_btn" ng-click="toShow='exit_screen'">Close</button>
    </div>
    <br>
    <!-- Contact ------------------------------------------------------------------------------>
    <div ng-show="toShow=='contact'" class="info_div">
        <p>
            Tilde DIY whatever, aesthetic franzen do gastropub post-ironic deserunt selvage sartorial. Biodiesel
            asymmetrical paleo gentrify fam banh mi meh quinoa, deserunt man braid taxidermy fashion axe. Kombucha
            mustache
            trust fund meditation bushwick. Consequat twee roof party, assumenda kogi cupidatat hashtag est jean shorts
            locavore. Ea XOXO actually whatever, pariatur cliche PBR&B. Taxidermy deep v eiusmod irony consequat,
            disrupt
            knausgaard id street art incididunt quinoa tote bag. Sapiente lumbersexual cronut sriracha waistcoat.
        </p>
        <br>
        <button class="nav_btn" ng-click="toShow='exit_screen'">Close</button>
    </div>
 </main>
<footer></footer>
</body>
</html>