body {
    margin: auto;
    font-family: sans-serif;
    position: relative;
}

video#bgVid {
    min-width: 190%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
}

h1 {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    margin-bottom: 1%;
}

.container1 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 60vw;
    color: white;
    border-radius: 5%;
    margin: 2% 0 0 20%;
    font-family: 'Supermercado One', sans-serif;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    position: absolute;
    font-size: 1.2em;
}

.container2 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 60vw;
    color: white;
    border-radius: 5%;
    margin: 15% 0 0 20%;
    font-family: 'Supermercado One', sans-serif;
    position: absolute;
}

.close,
.open {
    position: relative;
    top: 0;
    background-color: black;
    z-index: 1;
    border: none;
    display: inline-block;
    border-radius: 10%;
    color: white;
    font-family: 'Supermercado One', sans-serif;
    font-size: 1em;
    outline: none;
}

.appLinks a:hover,
.open:hover,
.close:hover {
    color: yellow;
}

#appsBtn {
    margin: 0 5% 0 5%;
}

.displayInfo {
    background-color: black;
    display: none;
    color: white;
    border-radius: 5%;
    height: 50vh;
    font-family: "Verdana", sans-serif;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

#aboutDiv {
    height: 100%;
}

#aboutDiv p {
    text-align: justify;
    margin: 2% 3% 2% 3%;
}

table {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    font-family: 'Eczar', sans-serif;
}

table, th, td {
    border-collapse: collapse;
}

th {
    padding-bottom: 2%;
    font-family: 'Supermercado One', sans-serif;
    font-size: 1.5em;
}

td {
    text-align: left;
    color: yellow;
    padding-left: 13%;
    letter-spacing: 1px;
}

#appsDiv {
    text-align: center;
}

#appsDiv img {
    height: 80%;
    float: left;
    margin: 0 1% 0 2%;
}

.appInfo {
    height: 30vh;
    display: none;
    position: relative;
    margin-top: 2%;
}

.appInfo h5 {
    text-align: justify;
    margin-right: 2%;
    margin-top: -0.5%;
}

.appsBtn {
    background-color: black;
    font-size: 2em;
    margin-top: 2%;
    border: none;
    font-weight: lighter;
    outline: none;
}

.appLinks a {
    font-family: 'Supermercado One', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

#dealBtn {
    font-family: 'Eczar', sans-serif;
    color: darkred;
    font-weight: normal;
}

#catsBtn {
    font-family: 'Faster One', sans-serif;
    color: yellow;
}

#calcBtn {
    font-family: 'VT323', monospace, sans-serif;
    color: silver;
}

#calc,
#cats,
#deal {
    position: absolute;
}

#appIndex {
    color: white;
    margin: auto;
    font-family: 'Supermercado One', sans-serif;
    height: 50%;
    padding: 10%;
}

#contactDiv img {
    padding: 1% 2% 2% 1%;
}

#contactDiv a {
    text-decoration: none;
}

#twitterLogo,
#linkedLogo {
    height: 10%
}

#anglistLogo {
    height: 7%;
}

#githubLogo {
    height: 12%;
}

#contactDiv h2 {
    font-family: 'Supermercado One', sans-serif;
    color: white;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

#contactDiv input {
    margin: 1% 0 3% 0;
    width: 25%;
    height: 2vh;
    border-radius: 5%;
    border: 3px solid steelblue;
}

#contactDiv textarea {
    width: 25%;
    height: 10vh;
    border-radius: 5%;
    border: 3px solid steelblue;
}

