body {
    margin: auto;
    font-family: sans-serif;
    position: fixed;
}

video#bgVid {
height: 100vh;
}

h1 {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

.container1 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 60vw;
    color: white;
    border-radius: 5%;
    margin: 2% 0 0 15%;
    font-family: 'Supermercado One', sans-serif;
    position: absolute;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

.container2 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 60vw;
    color: white;
    border-radius: 5%;
    margin: 15% 0 0 15%;
    font-family: 'Supermercado One', sans-serif;
    position: absolute;
}

.close,
.open {
    position: relative;
    top: 0;
    background-color: black;
    z-index: 1;
    border: 1px solid white;
    display: inline-block;
    border-radius: 10%;
    color: white;
    font-weight: bold;
}

#appsDiv,
#contactDiv,
#aboutDiv {
    background-color: black;
    display: none;
    color: white;
    border-radius: 5%;
    height: 50vh;
    font-family: "Verdana", sans-serif;
}

table {
    width: 50%;
    margin: auto;
}

table, td {
    border-collapse: collapse;
}

td {
    text-align: left;
    color: yellow;
    padding-left: 13%;
}

#appsDiv {
    text-align: center;
}

#appsDiv img {
    height: 80%;
    margin: auto;
    border: 1px solid blue;
}

.appInfo {
    height: 30vh;
    display: none;
    position: relative;
}

.appInfo h5 {
float: right;
}

#dealBtn {
    font-family: 'Eczar', sans-serif;
    border: none;
    color: darkred;
    font-size: 2em;
}

#catsBtn {
    font-family: 'Faster One', sans-serif;
    border: none;
    font-weight: lighter;
    font-size: 2em;
    color: yellow;
}

#calcBtn {
    font-family: 'VT323', monospace, sans-serif;
    border: none;
    font-weight: lighter;
    font-size: 2em;
    color: silver;
}

#calc,
#cats,
#deal {
    position: absolute;
}

#appIndex {
    color: white;
    margin: auto;
    font-family: 'Supermercado One', sans-serif;
    height: 50%;
    padding: 20%;
}