body {
    margin: 0 auto;
    font-family: sans-serif;
    position: relative;
    background: url("imgs/waterbg_static.png");
}

#container_container {
    width: 70vw;
    height: 95vh;
    margin: 0 auto;
}

video#bgVid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    z-index: -1;
}

h1 {
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    margin-bottom: 1%;
}

.container1 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    border-radius: 5%;
    margin-bottom: 5%;
    font-family: 'Supermercado One', sans-serif;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    font-size: 1.2em;
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

#pageNav {
    width: 100%;
}

.container2 {
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    border-radius: 5%;
    font-family: 'Supermercado One', sans-serif;
}

.open {
    position: relative;
    top: 0;
    background-color: black;
    z-index: 1;
    display: inline-block;
    color: white;
    font-family: 'Supermercado One', sans-serif;
    font-size: 1em;
    text-decoration: none;
    width: 30%;
}

.open:link {
    color: white;
    text-decoration: none;
}

#errorBtn:hover,
.appLinks a:hover,
.open:hover {
    color: yellow;
}

#appsBtn {
    margin: 0 5% 0 5%;
}

.displayInfo {
    background-color: black;
    display: none;
    color: white;
    border-radius: 5%;
    height: 55vh;
    width: 100%;
    font-family: "Verdana", sans-serif;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}

#aboutDiv {
    height: 100%;
}

#aboutDiv p {
    text-align: justify;
    margin: 2% 3% 2% 3%;
    font-size: 2.3vh;
}

.test{
    text-align: center;
    font-family: 'Supermercado One', sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
}

table {
    width: 65%;
    margin: auto;
    margin-bottom: 2%;
    font-family: 'Eczar', sans-serif;
}

table, th, td {
    border-collapse: collapse;
}

th {
    padding-bottom: 2%;
    font-family: 'Supermercado One', sans-serif;
    font-size: 3.5vh;
}

td {
    text-align: left;
    color: yellow;
    padding-left: 5%;
    letter-spacing: 1px;
}

.appLinkInfo {
    font-size: 0.5em;
}

#appsDiv {
    text-align: center;
    height: 100%;
    width: 100%;
}

#appsDiv img {
    float: left;
    margin: 0 1% 0 1%;
}

.appInfo {
    display: none;
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

.appInfo h5 {
    text-align: justify;
    padding: 1%;
}

.appBlurb {
    width: 100%;

}

.appsBtn {
    background-color: black;
    font-size: 2.5vw;
    border: none;
    font-weight: lighter;
    outline: none;
}

#errorBtn,
.appsBtn:hover {
    cursor: pointer;
    cursor: hand;
}

.appLinks a {
    font-family: 'Supermercado One', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

#dealBtn {
    font-family: 'Eczar', sans-serif;
    color: darkred;
    font-weight: normal;
}

#dealBtn:hover {
    color: red;
}

#catsBtn {
    font-family: 'Faster One', sans-serif;
    color: yellow;
}

#catsBtn:hover {
    color: orangered;
}

#calcBtn {
    font-family: 'VT323', monospace, sans-serif;
    color: grey;
}

#calcBtn:hover {
    color: lightgrey;
}

#whatNumBtn {
    font-family: 'Knewave', cursive;
    color: white;
    font-size: 2vw;
}

#whatNumBtn:hover {
    color: black;
    background-color: white;

}

#calc,
#cats,
#deal {
    width: 100%;
    margin-bottom: 10%;
}

#deal {
    height: 70%;
}

#appIndex {
    color: white;
    margin: auto;
    font-family: 'Supermercado One', sans-serif;
    height: 50%;
    padding: 10%;
}

#contactDiv {
    height: 100%;
}

#contactDiv img {
    padding: 0.5% 2% 0 1%;

}

#contactDiv a {
    text-decoration: none;
}

#twitterLogo {
    margin-bottom: 1%;
    width: 15%;
}

#twitterLogo,
#linkedLogo {
    width: 15%;

}

#anglistLogo {
    width: 15%;
    margin-bottom: 1%

}

#githubLogo {
    width: 13%;
}

#contactDiv h4 {
    font-family: 'Supermercado One', sans-serif;
    color: white;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    width: 100%;
    margin: 1% 0 1% 0;
    font-size: 3.5vh;
}

#contactDiv input {
    margin: 0.5% 0 1% 0;
    width: 45%;
    height: 3vh;
    border-radius: 5%;
    border: 3px solid steelblue;
    font-weight: bold;
    font-size: 1em;
}

#contactDiv textarea {
    width: 45%;
    height: 20vh;
    border-radius: 5%;
    border: 3px solid steelblue;
    font-size: 1.2em;
    font-weight: bold;
}

#error {
    height: 100%;
}

#error p {
    text-decoration: none;
    color: white;
    font-family: 'Supermercado One', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

#errorBtn {
    background: black;
    color: white;
    font-size: 1.5em;
    border: none;
    outline: none;
    font-family: 'Supermercado One', sans-serif;
}

#appImgDeal {
    width: 30%;
}

img#appImgCats {
    width: 30%;
}

img#appImgCalc {
    width: 25%;
}

img#appImgWhatNum {
    width: 25%;
}

#comment_send {
    background-color: transparent;
    border: 2px solid steelblue;
    border-radius: 15%;
    color: steelblue;
    font-weight: bold;
    margin-bottom: 2%;
}

#comment_send:hover {
    background-color: white;
    color: black;
}

#validEmail {
    font-size: 0.8em;
    color: steelblue;
    font-weight: bold;
}

form {
    margin-top: -1%;
    height: 70%;
}